<br>
<h2 class="text-primary text-center">This is Employee Page</h2>
<div class="m-5">
<button class="btn btn text-warning p-2 m-2 " data-toggle="modal" data-target="#newmodal"> 
    <i class="fa fa-plus">
        New Employee
    </i>
  </button>
<div class="col-12">
<table class="table table-border table-stripe table-hover table-stripe table-warning">
<thead>

</thead>
<tbody>
  <tr>
    <th>Name<input type="text"class="textbox col-10 m-2" placeholder="Name"></th>
    <th>Address<input type="text" class="textbox col-10 m-2" placeholder="Address"></th>
    <th>Salary<input type="text" class="textbox col-10 m-2" placeholder="Salary"></th>
    <th>Actions</th>

    <tr *ngFor='let employee of EmployeeList'>
        <td>{{employee.name}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.salary}}</td>
      </tr>
</tbody>
</table>
</div>

<button class="btn btn-link"(click)="onPageChange(pageNumber - 1)" class="text" [disabled]="pageNumber === 1">Previous</button>
<button class="btn btn-link" (click)="onPageChange(pageNumber + 1)" [disabled]="pageNumber === totalItems">Next</button>
</div> 
<div style="text-align: center; background-color: lightblue;">
<button class="btn btn-link" (click)="onPageChange(1)"  [disabled]="pageNumber === 1">1</button>
<button class="btn btn-link" (click)="onPageChange(2)" [disabled]="pageNumber === 2">2</button>
<button class="btn btn-link" (click)="onPageChange(3)" [disabled]="pageNumber === 3">3</button>
<button class="btn btn-link">
  <select [(ngModel)]="pageSize">
    <option  value="4" (click)="onPageSize(4)" [disabled]="pageSize === 4">4</option>
    <option value="5" (click)="onPageSize(5)" [disabled]
    ="pageSize === 5">5</option>
    <option value="7" (click)="onPageSize(7)" [disabled]="pageSize === 7">7</option>
  </select>
</button>

<div class="modal" tabindex="-1" role="dialog" id="newmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title btn btn-info">
             Add New Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div  class="form-group row">
            <label for="txtname" class="col-sm-4"> Name</label>
            <div class="col-sm-8">
                <input id="txtname"type="text" name="Name" [(ngModel)]="NewEmployee.name" placeholder="Enter Name" class="form-control">
            </div>
         </div>
         <div  class="form-group row">
            <label for="txtaddress" class="col-sm-4"> Address</label>
            <div class="col-sm-8">
                <input id="txtaddress" type="text" name="Address"[(ngModel)]="NewEmployee.address" placeholder="Enter Address" class="form-control">
            </div>
         </div>
         <div  class="form-group row">
            <label for="txtSalary" class="col-sm-4"> Salary</label>
            <div class="col-sm-8">
                <input id="txtSalary" type="number" name="Salary" [(ngModel)]="NewEmployee.salary" placeholder="Enter Salary" class="form-control">
            </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" (click)="SaveEmployee()" class="btn btn-primary">Save </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="editmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title btn btn-info">
             Add New Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div  class="form-group row">
            <label for="txtname" class="col-sm-4"> Name</label>
            <div class="col-sm-8">
                <input id="txtname"type="text" name="Name" placeholder="Enter Name" class="form-control">
            </div>
         </div>
         <div  class="form-group row">
            <label for="txtaddress" class="col-sm-4"> Address</label>
            <div class="col-sm-8">
                <input id="txtaddress" type="text" name="Address" placeholder="Enter Address" class="form-control">
            </div>
         </div>
         <div  class="form-group row">
            <label for="txtSalary" class="col-sm-4"> Salary</label>
            <div class="col-sm-8">
                <input id="txtSalary" type="number" name="Salary" placeholder="Enter Salary" class="form-control">
            </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary">Save </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>